<nav *ngIf="router.url === '/'" class="homeNavContainer">
    <ul>
        <li class="homeNav">
            <img src="../../assets/CC Logo.png" alt="CC AC and Heating logo">
            <h1>CC AC and Heating</h1>
        </li>
    </ul>
</nav>

<mat-toolbar class="headerNav" color="primary" *ngIf="router.url != '/'">
    <nav>
        <ul (click)="toggleMenu()" class="menuClosed" *ngIf="menuToggle === 'closed'">
            <div class="hamburgerLine"></div>
            <div class="hamburgerLine"></div>
            <div class="hamburgerLine"></div>
        </ul>
        <ul (click)="toggleMenu()" class="menuOpen" *ngIf="menuToggle === 'open'">
            <div class="hamburgerLine"></div>
            <div class="hamburgerLine"></div>
            <div class="hamburgerLine"></div>
        </ul>
        <ul *ngIf="menuToggle === 'open'" class="navLinks">
            <li>
                <a routerLink="/">HOMEPAGE</a>
            </li>
            <li routerLink="/jobs" *ngIf="userIsAuthenticated">
                <a routerLink="/jobs">JOBS</a>
            </li>
            <li routerLink="/customers" *ngIf="userIsAuthenticated">
                <a routerLink="/customers">CUSTOMERS</a>
            </li>
            <li routerLink="/parts" *ngIf="userIsAuthenticated">
                <a routerLink="/parts">PARTS</a>
            </li>
            <li routerLink="/messages" *ngIf="userIsAuthenticated">
                <a routerLink="/messages">MESSAGES</a>
            </li>
            <li *ngIf="!userIsAuthenticated">
                <a routerLink="/login" routerLinkActive="mat-accent">LOGIN</a>
            </li>
            <li *ngIf="userIsAuthenticated">
                <a (click)="onLogout()">LOGOUT</a>
            </li>
        </ul>
    </nav>
</mat-toolbar>

