h1 {
    text-align: center;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

hr {
    width: 10em;
    background-color: black;
    height: .2em;
    border-radius: 10px;
}