<mat-card class="backendMargin">
    <form (submit)="onSavePart(partForm)" #partForm="ngForm">
      <mat-form-field>
        <input matInput type="string" name="partName" #partName="ngModel" ngModel placeholder="Part" required>
        <mat-error *ngIf="partName.invalid">Part is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <span matPrefix>$ &nbsp;</span>
        <input matInput type="number" name="cost" #cost="ngModel" ngModel placeholder="Cost" required>
        <mat-error *ngIf="cost.invalid">Cost is Required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" *ngIf="mode === 'create'">Add Part</button>
      <button mat-raised-button color="primary" type="submit" *ngIf="mode != 'create'">Update Part</button>
    </form>
  </mat-card>
  