/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.backendMargin {
  margin: 4em 0;
}

@media (min-width: 600px) {
  .backendMargin {
    margin: 4em 20%;
  }
}


.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}