<div class="heatSection">
  <div class="heatCard">
    <img src="../../assets/heater-heat-svgrepo-com.svg" alt="Image of a heater">
    <h1>It's Getting Hot In Here</h1>
  </div>
  <div class="heatCard">
    <h3>Whether you need a new heater, repairs, or basic maintenance, we'll be there. </h3>
  </div>
</div>

<div class="aboutSection">
  <div class="aboutText">
    <h2>Who We Are</h2>
    <p>Father and son duo, Chuck and Cody, based in Glasgow servicing NorthEastern Montana. With years of experience, we are here
      to give you the best HVAC service around.</p>
  </div>
  <div class="supplier">
    <h2>Our Supplier</h2>
    <img class="carrierLogo" src="../../assets/carrierLogo.png" alt="">
  </div>
</div>

<div class="acSection">
    <div class="acCard">
        <h3>Keep cool with our Air Conditioning services. We'll install and repair anything you need.</h3>
    </div>
    <div class="acCard">
      <img src="../../assets/air-conditioner-svgrepo-com.svg" alt="Image of an AC unit">
      <h1>The Crispest Air Around</h1>
    </div>
</div>

<app-message-create></app-message-create>